[Unit]
Description=Execute files depending on changes in ACPI power status.

[Service]
ExecStart=/opt/battery-watcher/battery-watcher

[Install]
WantedBy=default.target
